@import "toolkit";

.footer {
  border-top: 1px solid #eee;
  display: flex; // testing Autoprefixer
  font-size: inherit;
  padding: 20px 0 60px;
}

.footer2 {
  padding: 20px 0 60px;
  background: #ddd;
}

.socialMediaIcons {
  list-style: none;
  margin: 2em 0 0 0;
  padding: 0;
}
.socialMediaIcons li {
  display: inline;
  padding-right: 5px;
}
.socialMediaIcons img {
  width: 40px;
}
