@import "toolkit";

.body {
  font-size: inherit;
  padding: 20px;
  margin-top: 3em;
}

.header {
  border-bottom: 1px solid $border-color;
  margin: 0 0 20px 0;
  padding-bottom: 20px;
}

.bigDescr {
  font-size: 1.6em;
}

