    <!-- Footer -->
    <footer class="site-footer" >
        <div class="footer-top text-white footer-image overlay-black-middle bg-img-fix" style="background-image:url(images/background/bg9.jpg);   background-attachment: fixed;">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6 footer-col-4">
                      ~__^
                    </div>
                    <div class="col-md-3 col-sm-6 footer-col-4">
                      <div class="widget widget_services">
                        <h4 class="m-b15 ">Navigation</h4>
                        <div class="dez-separator-outer">
                          <div class="dez-separator bg-white style-liner"></div>
                        </div>
                        <ul>
                          <li><a href="services-2.html">About</a>
                            <ul>
                              <li><a href="services-2.html">Services</a></li>
                              <li><a href="services-2.html">Process</a></li>
                              <li><a href="services-2.html">Stack</a></li>
                              <li><a href="services-2.html">Team</a></li>
                            </ul>
                          </li>
                          <li><a href="services-2.html">Portfolio</a>
                            <ul>
                              <li><a href="#">Case Studies</a></li>
                              <li><a href="#">Clients</a></li>
                              <li><a href="#">Articles</a></li>
                            </ul>
                          </li>
                          <li><a href="services-2.html">Contact</a></li>
                          <li><a href="services-2.html">Careers</a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-3 col-sm-6 footer-col-4">
                      <a href="#"><img src='images/lock.png' alt='lock' /></a>
                    </div>
                    <div class="col-md-3 col-sm-6 footer-col-4">
                        <div class="widget ">
                            <h4 class="m-b15">Contact Us</h4>
                            <div class="dez-separator-outer">
                                <div class="dez-separator bg-white style-liner"></div>
                            </div>
                            <ul class="widget_getintuch">
                                <!-- <li><i class="fa fa-map-marker"></i>1250 Oakmead Pkwy #210, Sunnyvale, CA 94085</li> -->
                                <li><i class="fa fa-phone"></i>+1 877 216 3525</li>
                                <li><i class="fa fa-envelope"></i>victor@wasya.co</li>
                                <li><i class="fa fa-map-marker"></i>P O Box 2119<br />San Jose, CA 95109</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-info-box clearfix p-tb30 p-lr15">
                  <div class="col-md-6 col-sm-6">
                    <form role="search" method="post" class="newsletter">
                      <strong class="text-white font-18 font-weight-600 btn-block">Sign up for our Newsletter</strong>
                      <div class="input-group m-t10">
                        <input name="text" class="form-control" placeholder="Your Email" type="text">
                        <span class="input-group-btn">
                          <button type="submit" class="site-button font-weight-600" >Subscribe</button>
                      </span> </div>
                    </form>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="text-right">
                      <ul class="dez-social-icon border">
                        <li><a class="fa fa-facebook text-primary" href="javascript:void(0);"></a></li>
                        <li><a class="fa fa-linkedin text-primary" href="javascript:void(0);"></a></li>
                        <li><a class="fa fa-youtube text-primary" href="javascript:void(0);"></a></li>
                      </ul>
                      <p class="text-right m-t10 m-b0">Copyright © Wasya co 2017</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END-->
